.contact-form-section {
    background-color: #f7f7f7;
    padding: 100px 0;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
  }
  
  .contact-form textarea {
    height: 150px;
    resize: none;
  }
  
  .contact-form button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #e67e22;
  }